.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  font-family: 'Segoe UI', sans-serif;
text-align: center;
  background: #e4e3e3;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.profile-photo {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  color: #2c3e50;
  font-size: 32px;
}

h2 {
  margin-top: 30px;
  color: #34495e;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.tech-stack {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.tech-stack img {
  width: 40px;
  height: 40px;
  filter: grayscale(100%);
  transition: filter 0.3s, transform 0.3s;
  cursor: pointer;
}

.tech-stack img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

